.first-main{
    background-image: url(./backgr-img.webp);
    height: 475px;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1900px 475px;
}

.burger-menu{
    width: 30px;
    display: none;
}
.content{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 
}
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 15px;
    padding-top: 40px;
    width: 1000px;
    
}
.active-for-phone{
    display: none;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fisrt-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 157px;
}
.first-nav-text{
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 650;
}
.first-nav-text2{
    font-size: 17px;
    letter-spacing: 3px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
}
.nav-rent,.bron{
    border: 2px solid white;
    padding: 5px;
}
.bron{
    color: white;
}
@media(max-width:1024px){
    .nav-menu{
        width: 700px;
    }
}
@media(max-width:768px){
    .nav,.nav-rent{
        display: none;
    }
    .nav-menu{
        width: 375px;
        display: flex;
        justify-content:center;
    }
    .burger-menu{
        display: block;
    }
    .content{
        flex-direction: column-reverse;
    }
    
    .active-for-phone{
        width: calc(100% - 100px);
        display: flex;
        justify-content: space-between;
        padding: 25px 50px 0;
    }
    
    
}
